#nickname-conflict{
	display: none;
}
#connecting{
	display: none;
}
#nickname-outcome{
  display: none;
}
#message{
  visibility: hidden;

}
#messages{
  display:none;
  width:300px;
  height:400px;
  overflow: scroll;
}